.container {
    display: block;
    text-align: center;
    background-color: #f3ffeb;
    width: 320px;
    height: auto;
    padding: 32px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #203a0f;
}

.form-container {
    display: block;
    flex-direction: column;
    

}

h1, h4 {
    color: #203a0f;
    font-family: sans-serif;
    line-height: 24px;
}

button {
    border: none;
    background-color: #f3ffeb;
}

.button .back {
    text-decoration: none;
}