.container {
    display: block;
    text-align: center;
    background-color: #f3ffeb;
    width: 320px;
    height: auto;
    padding: 32px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #203a0f;
}

h1, h4 {
    color: #203a0f;
    font-family: sans-serif;
    line-height: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.userdata {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
    color: #203a0f;
    font-family: sans-serif;
    font-weight: bold;
}

.input {
    border: 1px solid #215200;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin-top: 5px;

}

.box-check {
    display: flex;
    justify-content: space-between; 
    font-size: 15px;
    color: #215200;
    align-items: center;

    width: 322px;
}

.box-checkbox {
    display: flex;
    gap: 4px;
    color: #203a0f;
    margin-left: -3px;
}

.forgot {
    text-decoration: none;
    color: #203a0f;
}
button {
    width: 320px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #203a0f;
    color: #fff;
}


.register {
    text-align: center;
    font-size: 14px;
}

.register a {
    text-decoration: none;
    color: #215200;
}

#check2 {
    width: 12px;
    height: 13px;

}

.box-check p:hover, button:hover, a {
    cursor: pointer;
    text-decoration: none;
}